{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
