@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300&display=swap');
@font-face {
  font-family: 'FakeReceipt';
  src: url('@/assets/fonts/Fake Receipt.otf') format('opentype');
}
@theme {
  --color-main: #b1b1b1;
  --color-text: #ffffff;
  --color-bg: #121212;
  --font-fake: 'FakeReceipt';
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  font-family: 'Inter', sans-serif;
}
::selection {
  background: var(--color-main);
  color: var(--color-text);
}
